
@mixin varela{
    font-family: 'Varela Round', sans-serif;
}

@mixin latoLight{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

@mixin latoRegular{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

@mixin latoBold{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

@mixin btn($width, $height, $backG, $borderR){
    width: $width;
    height: $height;
    background: $backG;
    border-radius: $borderR;
}

@mixin text($fontS){
    font-size: $fontS;
    color: $colorText;
}

@mixin input($width, $height){
  width: $width;
  height: $height;
  border: 1px solid $borderInput;
  border-radius: 25px;
  padding: 0 176px 0 25px;
  outline: none;
}