$colorTextMenu: #26272d;
$colorHoverText: #267df4;
$colorWhite: #fff;
$colorHelp: #9f9fa1;
$colorText: #8c8f94;
$colorBorderHeader: #dadcde;
$divLine: #f4f4f4;
$borderLineBtn: #e9e9ea;
$screensBg: #f5f5f8;
$newProvidence: #a8a9af;
$borderInput: #cbcbce;
$btnColor: #6fc754;
$backBtn: #131315;
$customersArrow: #d4d4d5;
$colorStars: #f2bc3b;
